.vs/
bin/
obj/
bin/Debug/net5.0/Odissey.Views.dll
bin/Debug/net5.0/Odissey.Views.pdb
bin/Debug/net5.0/Odissey.dll
bin/Debug/net5.0/Odissey.pdb
obj/Debug/net5.0/Odissey.Views.dll
obj/Debug/net5.0/Odissey.Views.pdb
obj/Debug/net5.0/Odissey.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Odissey.csprojAssemblyReference.cache
obj/Debug/net5.0/Odissey.dll
obj/Debug/net5.0/Odissey.pdb
obj/Debug/net5.0/RazorDeclaration/Odissey.dll
obj/Debug/net5.0/RazorDeclaration/Odissey.pdb
obj/Odissey.csproj.nuget.dgspec.json
obj/Odissey.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/Odissey/DesignTimeBuild/.dtbcache.v2
.vs/Odissey/v16/.suo
obj/Debug/
obj/Debug/net5.0/
bin/Debug/net5.0/
.vs
bin
obj
.vs/Odissey/v16
.vs/Odissey/v16/

wwwroot/css/icons/
