
Pluton.Business/bin/Debug/net5.0/

Pluton.Business/obj/Debug/net5.0/

Pluton.Business/obj/

Pluton.Cerberus.Interface/bin/Debug/net5.0/

Pluton.Cerberus.Interface/obj/Debug/net5.0/

Pluton.Cerberus.Interface/obj/

Pluton.app/bin/Debug/net5.0/

Pluton.app/obj/Debug/net5.0/

Pluton.app/obj/

.vs/Pluton/v16/

Pluton.app/bin/x64/Release/net5.0/

Pluton.Business/bin/x64/Release/net5.0/

Pluton.Interop/

Pluton.Interop.gendata/Pluton.Interop.gendata.API.Common/obj/Debug/netcoreapp3.1/

.vs/Pluton/DesignTimeBuild/

Pluton.app/bin/Release/net5.0/

Pluton.Business/bin/Release/net5.0/

*.user

Pluton.app/bin/

*.bak

Pluton.Business/bin/Debug/net5.0-windows7.0/

Pluton.Business/bin/Release/net5.0-windows7.0/
